body,html{
    margin: 0px;
}

.fio-block{
    width: 250px; float: left; background: white; padding: 20px; box-shadow: 0 0 10px 0 rgba(0,0,0,0.24); border-radius: 5px;
}

.fio-block-title{
    color: black; font-size: 20px; color: #006790; font-family: "Segoe UI SemiBold Web",Tahoma,"Helvetica Neue",Helvetica,Arial Unicode MS,sans-serif; margin: 0px 0px 10px;
}

.fio-block-req{
    font-family: "Segoe UI Local","Segoe WP","Segoe UI Web",Tahoma,"Helvetica Neue",Helvetica,Arial Unicode MS,sans-serif; font-size: 16px; color: #121212; margin: 15px 0px 10px;
}

.kzt{
    font-family: "Segoe UI Local","Segoe WP","Segoe UI Web",Tahoma,"Helvetica Neue",Helvetica,Arial Unicode MS,sans-serif; font-size: 16px; font-weight: bold; color: #006790;
}

.sum-p{
    font-family: "Segoe UI Local","Segoe WP","Segoe UI Web",Tahoma,"Helvetica Neue",Helvetica,Arial Unicode MS,sans-serif; font-size: 16px; text-align: center; margin-bottom: 25px;
}

.fio-select{
    width: 200px; padding: 10px 5px; font-size: 14px; font-family: 'Arial'; cursor: pointer;
}

.balans-p{
    font-family: "Segoe UI Local","Segoe WP","Segoe UI Web",Tahoma,"Helvetica Neue",Helvetica,Arial Unicode MS,sans-serif; font-size: 16px; color: #121212; margin: 15px 0px 10px;
}

.send-btn{
    margin: 25px 0px 0 40px;
    padding: 8px 20px 8px 26px;
    background-color: #007EA2;
    border: 0;
    border-radius: 2px;
    width: 120px;
    font-family: "Segoe UI Local","Segoe WP","Segoe UI Bold Web",Tahoma,"Helvetica Neue",Helvetica,Arial Unicode MS,sans-serif;
    font-size: 13px;
    color: white;
    cursor: pointer;
}

.main-block{
    background-color: #EBE9E1; padding: 100px 0px;
}

.translate-block{
    width: 200px; float: left; margin: 15px 40px 0px;
}

.send-balans-input{
    width: 80px; margin-left: 45px; font-size: 16px; border: 1px solid #ccd2d7; padding: 4px 5px 3px 12px;
}

.small-block{
    width: 900px; margin: auto;
}

.clearfloat{
    clear: both;
}